<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentation</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5"><a href="{% url 'get_articles' %}">/articles</a></div>
            <div class="card-subtitle text-gray">Method: GET</div>
        </div>
        <div class="card-body">
            Return all articles in json format. <br>
            <b>Sample Output</b>
            <pre class="code" data-lang="JSON">
        [
            {
                "title": "What if we knew when and how we'd die?",
                "category_name": "future",
                "author_name": "Rachel Nuwer",
                "date": "18 June 2018",
                "body": "You and everyone you’ve ever known will someday die.
            },
            {
                "title": "Pain bias: The health inequality rarely discussed",
                "category_name": "future",
                "author_name": "Jennifer Billock",
                "date": "22 May 2018",
                "body": "In 2009, my doctor told me that, like “a lot of women”, I was paying too much attention to my body.
            }
        ]
        </pre>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="card-title h5"><a href="{% url 'get_categories' %}">/categories</a></div>
            <div class="card-subtitle text-gray">Method: GET</div>
        </div>
        <div class="card-body">
            Return all categories in json format. <br>
            <b>Sample Output</b>
            <pre class="code" data-lang="JSON">
        [
            {
                "name": "future"
            },
            {
                "name": "autos"
            }
        ]
        </pre>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="card-title h5"><a href="{% url 'get_authors' %}">/authors</a></div>
            <div class="card-subtitle text-gray">Method: GET</div>
        </div>
        <div class="card-body">
            Return all authors in json format. <br>
            <b>Sample Output</b>
            <pre class="code" data-lang="JSON">
        [
            {
                "name": "Rachel Nuwer"
            },
            {
                "name": "Jennifer Billock"
            }
        ]
        </pre>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="card-title h5"><a href="{% url 'get_articles_by_author' author='Rachel Nuwer' %}">/articles/by/{author}</a></div>
            <div class="card-subtitle text-gray">Method: GET</div>
        </div>
        <div class="card-body">
            Return all articles by {author} in json format. <br>
            <b>Sample Output</b>
            <pre class="code" data-lang="JSON">
        [
            {
                "title": "What if all guns disappeared? ",
                "category_name": "future",
                "author_name": "Rachel Nuwer",
                "date": "18 April 2018",
                "body": "On 24 March 2018, more than   people took to the streets in the US to....
            },
            {
                "title": "Is there a link between mass shootings and mental illness?",
                "category_name": "future",
                "author_name": "Rachel Nuwer",
                "date": "10 May 2018",
                "body": "In Stephen King’s The Shining, the character Jack Torrance epitomises ....
            }
        ]
        </pre>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="card-title h5"><a href="{% url 'get_articles_by_category' category='news' %}">/articles/of/{category}</a></div>
            <div class="card-subtitle text-gray">Method: GET</div>
        </div>
        <div class="card-body">
            Return all articles of {category} in json format. <br>
            <b>Sample Output</b>
            <pre class="code" data-lang="JSON">
        [
            {
                "title": "Lombok earthquake: Strong aftershock amid rescue efforts",
                "category_name": "news",
                "author_name": "",
                "date": "9 August 2018",
                "body": "The Indonesian island of Lombok has been hit by a strong tremor, as the search continues...
            },
            {
                "title": "US drink-drive suspect tells police she's 'clean, white girl'",
                "category_name": "news",
                "author_name": "",
                "date": "8 August 2018",
                "body": "A US woman arrested after speeding through a stop sign asked police...
            }
        ]
        </pre>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="card-title h5"><a href="{% url 'get_articles_by_date' date='7 August 2018' %}">/articles/on/{date}</a></div>
            <div class="card-subtitle text-gray">Method: GET</div>
        </div>
        <div class="card-body">
            Return all articles published on {date} in json format. <br>
            <b>Sample Output</b>
            <pre class="code" data-lang="JSON">
        [
            {
                "title": "Lombok earthquake: Strong aftershock amid rescue efforts",
                "category_name": "news",
                "author_name": "",
                "date": "9 August 2018",
                "body": "The Indonesian island of Lombok has been hit by a strong tremor, as the search...
            },
            {
                "title": "US drink-drive suspect tells police she's 'clean, white girl'",
                "category_name": "news",
                "author_name": "",
                "date": "8 August 2018",
                "body": "A US woman arrested after speeding through a stop sign asked police to let her...
            }
        ]
        </pre>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <div class="card-title h5"><a href="{% url 'get_articles_by_title' title='cars' %}">/articles/with/{title}</a></div>
            <div class="card-subtitle text-gray">Method: GET</div>
        </div>
        <div class="card-body">
            Return all articles with {title} in json format. <br>
            <b>Sample Output</b>
            <pre class="code" data-lang="JSON">
        [
            {
                "title": "The month in cars in 90 seconds",
                "category_name": "autos",
                "author_name": "Editors",
                "date": "31 October 2016",
                "body": "With the Paris motor show behind and the Los Angeles show ahead,
            },
            {
                "title": "One artist's secret war on boring cars",
                "category_name": "autos",
                "author_name": "David K Gibson",
                "date": "11 October 2016",
                "body": "Somewhere between a   and a  , there is a Slapdash Supercar.
            }
        ]
        </pre>
        </div>
    </div>

</div>
</body>
</html>